.list-container {
    flex-basis: 40%;
    padding: 10px;
    .title {
        margin: 10px 0px 20px;
        text-align: center;
    }
    .form {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .cards-container {
        width: 95%;
        height: 420px;
        margin: 10px auto;
        padding: 10px;
        overflow-y: scroll;
    }
}